p {
    color: #9c4848;
    font-family: 'Arial';
}

.destacado {
    background-color: #e3da94;
    font-weight: bold;
}

#encabezado-principal {
    font-size: 64px;
    color: #343f66;
}

ol li {
    font-style: italic;
}

ul>li {
    list-style: square;
}

a[href*="@profesorado"] {
    color: orange;
}

p {
    color: blue;
}

.text {
    color: red;
}

div#container p.text {
    color: green;
}